body /*<............Homepage css start...................>*/
{
    margin:0;
    padding:0;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(IMG_1400.jpg);
    background-size:cover;
    background-attachment: fixed;
}
header
{
    height: 250px;
}
ul
{
	float:left;
	list-style-type:none;
	margin-top: 30px;
}
ul li
{
	display:inline-block;
}
ul li a
{
	text-decoration:none;
	color: white;
	padding: 10px 20px;
	border: 1px solid transparent;
}
ul li a:hover
{
	background-color:black;
	color: white;
}
ul li.active a
{
	background-color: black;
	color: white;
}

.maintext
{
	max-width: 1500px;
	margin: auto;
}
.title
{
	position: fixed;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.title h1
{
	color: white;
	font-size: 50px;
}
.footer
{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.fa 
{
    padding: 15px;
    font-size: 16px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 3px;
}
.fa:hover
{
    opacity: 0.5;
}
.fa-facebook
{
    background: #3B5998;
    color: white;
}
.fa-twitter 
{
    background: #55ACEE;
    color: white;
}
.fa-google 
{
    background: #dd4b39;
    color: white;
}
/*<...........................Homepage css end...........>*/
       /* <...................porfolio css start................>*/
.folio
{
    float: right;
}
.folio h1
{
    color: white;
    font-size: 40px;
}

.main
{
    display: flex;
    padding: 10px;
    margin: 0;

}
.grid 
{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    padding: 10px;
}

.grid-column 
{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 50px;
    height: 100px;
    font-size: 30px;
    opacity: 0.8;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(placeholder.png);
    background-position: center;
    background-size: auto;
}
/*<....................................portfolio css end.....>*/
/*<.................contact css start..............>*/
.rigs
{
    margin: auto;
    width: 35%;
}
.rigs h1
{
	color: white;
	text-align: center;
	font-style: italic;
    background-color: rgb(0,0,0,0.3);
    padding: 5px;
    transform: translate(10px, -154px);

}
.form
{
    color: white;
	text-align: center;
	font-style: italic;
    margin: auto;
    width: 40%;
    font-size: 18px;
    background-color: rgb(0,0,0,0.3);
    padding: 3px;
    transform: translate(10px,  -154px);
}
.form:hover
{
    border:3px groove;
}
 .submit
{
 	background-color: green; 
 	color: #FFFFC0;
}
/*<................................contact css end...........>*/

/*<..........................cv css start.................>*/
.curri
{
	float: right;
}
.curri
{
    color: white;
    font-size: 25px;
}

.cv
{
    width: 950px;
    background: #fff;
    margin: auto;
    display: flex;
}

.leftside{
    background:red;
    width: 350px;
    padding: 0 20px;
}

.leftside .icon
{
    font-size: 25px;
    color: black;
}

.left .text
{
    color: black;
    text-transform: uppercase;
    font-size: 13px;
}
.contact 
{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}
.li_wrap
{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}
.tit
{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-bottom: 10px;
    color: maroon;
    position: relative;
    text-align: right;
    margin-bottom: 20px;
    transform: translate(-43px, 15px);
}
.contact .li_wrap .icon
{
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.contact .li_wrap .text
{
    width: calc(100% - 50px);
    word-break: break-word;
    color: #fff;
}
.skills ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skills .li_wrap{
     width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skills .li_wrap{
    background: #fff;
}

.skills .li_wrap .text{
    margin-top: 5px;
}
.hobbies ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hobbies .li_wrap{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.hobbies .li_wrap .text
{
    margin-top: 5px;
}

.hobbies .li_wrap
{
    border: 2px solid #fff;
}
.rightside
{
    width: calc(100% - 200px);
}
.header
{
    background: #292b2f;
    padding: 15px 30px;
    color: #fff;
    height: 240px;
}
.name
{
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}
.header .about
{
    margin-top: 20px;
    line-height: 26px;
}
.innerpart
{
    padding: 30px;
    color: black;
    transform: translate(4px, 48px);
    font-style:oblique;
    text-align: justify;
}
 .table 
 {
  border: 2px solid #000;
  margin: 1rem 0 1rem 0;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
 td
 {  border: 1px solid ;
  padding: 0.4rem;
} 
th {
  border: 1px solid ;
  padding: 0.4rem;
  }
/*<......................cv css end............>*/
/*<..................................................sitereport css start..........>*/
.port
{
    float: right;
}

.port h1
{
    color: white;
    font-size: 50px;
}
.box{
    font-size: 20px;
    color: white;
    text-align: justify;
    padding: 10px;
    
}
/*<...............sitereport css end............>*/
/*<...............media query css start.............................>*/
.span {
    color: #54D17A;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle {
    display: none;
}


@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }
    #toggle:checked + .menu {
        display: block;
    }
    ul li
{
    display:inline-flex;
    width: 100%;
}
    
    
}
/*<........................media query css end............>*/
